<div class="d-flex flex-column w-100 h-100">
  <div class="d-flex flex-column col-11 col-md-9 col-lg-7 col-xl-6 m-auto bg-white">
    <div class="d-flex flex-column w-100 mb-5">
      <div class="back-button mt-2 ms-2 pt-1 ps-1">
        <button type="button" class="btn btn-primary btn-circle" (click)="onBack()">
          <fa-icon [icon]="backIcon" size="2x"></fa-icon>
        </button>
      </div>
      <div class="d-flex w-100 mt-1">
        <h2 class="m-auto">Perfil</h2>
      </div>
    </div>
    <form class="d-flex flex-column w-100 px-5" [formGroup]="formGroup">
      <input type="number" formControlName="id" hidden>
      <div class="row">
        <div class="col-5">
          <div class="form-floating mb-3">
            <input type="text" id="input-firstname" class="form-control mb-2" placeholder="Nome"
              formControlName="firstName" [ngClass]="getValidationClass('firstName')">
            <label for="input-firstname">Nome</label>
            <app-validation-message name="firstName" [formGroup]="formGroup"></app-validation-message>
          </div>
        </div>
        <div class="col-7">
          <div class="form-floating mb-3">
            <input type="text" id="input-lastname" class="form-control mb-2" placeholder="Sobrenome"
              formControlName="lastName" [ngClass]="getValidationClass('lastName')">
            <label for="input-lastname">Sobrenome</label>
            <app-validation-message name="lastName" [formGroup]="formGroup"></app-validation-message>
          </div>
        </div>
      </div>
      <div class="d-flex flex-column form-floating mb-3">
        <input type="email" id="input-email" class="form-control" placeholder="Email"
          formControlName="email" [ngClass]="getValidationClass('email')">
        <label for="input-email">E-mail</label>
        <app-validation-message class="mt-2" name="email" [formGroup]="formGroup"></app-validation-message>
      </div>
    </form>
    <div class="d-flex flex-row w-100 px-5 mb-4">
      <input type="checkbox" id="change-password" class="form-check-input" value="false" checked="false" [(ngModel)]="changePassword">
      <label class="form-check-label" for="change-password">Mudar sua senha?</label>
    </div>
    <form class="d-flex flex-column w-100 px-5" [formGroup]="passFormGroup">
      <ng-container *ngIf="changePassword">
        <div class="row">
          <div class="col-4">
            <div class="form-floating mb-3">
              <input type="password" id="input-oldpassword" class="form-control mb-2" placeholder="Senha"
                formControlName="oldPassword" [ngClass]="getValidationClass('oldPassword')">
              <label for="input-oldpassword">Senha Antiga</label>
              <app-validation-message name="oldPassword" [formGroup]="passFormGroup"></app-validation-message>
              <br />
              <span *ngIf="passFormGroup.hasError('oldisequal')" class="text-danger">{{ passwordNotEqualText }}</span>
            </div>
          </div>
          <div class="col-4">
            <div class="form-floating mb-3">
              <input type="password" id="input-password" class="form-control mb-2" placeholder="Senha"
                formControlName="password" [ngClass]="getValidationClass('password')">
              <label for="input-password">Senha Nova</label>
              <app-validation-message name="password" [formGroup]="passFormGroup"></app-validation-message>
            </div>
          </div>
          <div class="col-4">
            <div class="form-floating mb-3">
              <input type="password" id="input-repeat-password" class="form-control mb-2" placeholder="Repetir Senha"
                formControlName="repeatPassword" [ngClass]="getValidationClass('repeatPassword')">
              <label for="input-repeat-password">Repetir a Senha</label>
              <app-validation-message name="repeatPassword" [formGroup]="passFormGroup"></app-validation-message>
              <br />
              <span *ngIf="passFormGroup.hasError('notequal')" class="text-danger">{{ passwordNotEqualText }}</span>
            </div>
          </div>
        </div>
      </ng-container>
    </form>
    <div class="d-flex flex-grow-1 w-100 px-5">
      <button type="submit" class="btn btn-primary ms-auto mt-auto mb-5" (click)="onFormSubmit()" [disabled]="disableForm()">
        Salvar
      </button>
    </div>
  </div>
</div>
