<div class="d-flex w-100 h-100">
  <div class="d-flex flex-column m-auto">
    <h1 class="app-title lg mx-auto">Shopping Share</h1>
    <p class="h1 mx-auto mb-5"><i>A solução em compartilhamento de compras.</i></p>
    <div class="d-flex w-75 flex-row mx-auto">
      <div class="d-flex w-50">
        <img src="/assets/images/shop.png" class="d-inline-block align-top tomatoes" alt="">
      </div>
      <div class="d-flex w-50">
        <p class="h2 my-auto ms-3 text-justity">
          <a [routerLink]="['auth', 'register']">Inscreva-se</a> agora no nosso site e aproveite
          para montar sua primeira lista de compras!<br /><br />
          Faça aquela festa com seus amigos e compartilhe os gastos de forma bem fácil!
        </p>
      </div>
    </div>
  </div>
</div>
