$primary: #920000;
$secondary: #920000;
$light: #e4dceb;
$dark: #3f0069; /* 242424 */
$white: #eeeeee;

$lightpurple: #deacff;
$lightred: #ffaaaa;

$loginbackground: url(../assets/images/login-background.jpg);

:root {
  --loginbackground: url(../assets/images/login-background.jpg);
  --lightpurple: #deacff;
  --lightred: #ffaaaa;
}
