<div class="d-flex w-100 h-100">
  <div class="d-flex flex-column w-100 mt-3 px-5 py-4 overflow-auto">
    <div class="d-flex flex-column">
      <h1>{{ model.name }}</h1>
      <h3>{{ model.description }}</h3>
    </div>
    <h2 class="mt-5">Categorias:</h2>
    <div class="d-flex flex-row flex-wrap">
      <i *ngIf="!categories || categories.length == 0" class="me-3">Nenhuma</i>
      <div class="d-flex flex-row px-3 py-1 me-2 my-1 border border-dark rounded-3 bg-white" *ngFor="let cat of categories">
        <span class="me-3">{{ cat.name }}</span>
        <a style="cursor: pointer;" (click)="removeCategory(cat.id)">
          <fa-icon class="text-danger" [icon]="xIcon"></fa-icon>
        </a>
      </div>
      <button type="button" class="d-flex btn btn-primary rounded-circle p-0 my-auto"
        style="width: 20px; height: 20px;" (click)="addCategory()">
        <fa-icon class="m-auto" [transform]="'up-6'" [icon]="plusIcon" size="xs" style="height: 15px;"></fa-icon>
      </button>
    </div>
    <h2 class="mt-5">Itens:</h2>
    <button type="button" class="btn btn-primary mb-3" (click)="addItem()">
      <fa-icon class="my-auto" [icon]="plusIcon"></fa-icon>
      Adicionar
    </button>
    <i *ngIf="model.items.length == 0">Nenhum</i>
    <div *ngIf="model.items.length > 0" class="d-flex flex-row">
      <div class="d-flex flex-column bg-white">

      </div>
    </div>
  </div>
</div>

<div *ngIf="showCategoryModal" class="category-modal">
  <div class="d-flex w-100 h-100">
    <div class="d-flex flex-column m-auto bg-white border rounded py-2">
      <div class="d-flex flex-row w-100 px-5">
        <h3 class="my-auto">Criar categoria</h3>
        <a style="cursor: pointer;" class="ms-auto my-auto" (click)="addCategoryCallback('cancel')">
          <fa-icon class="text-danger" [icon]="xIcon"></fa-icon>
        </a>
      </div>
      <hr class="mt-2 mb-3" />
      <div class="d-flex flex-column w-100 px-5">
        <div class="form-floating">
          <input type="text" id="text-name" class="form-control" placeholder="Nome" [(ngModel)]="categoryName">
          <label for="text-name">Nome</label>
        </div>
      </div>
      <hr class="mb-2 mt-3" />
      <div class="d-flex flex-row w-100 px-5">
        <button type="button" class="btn btn-white border border-primary me-3 ms-auto"
          (click)="addCategoryCallback('cancel')">Cancelar</button>
        <button type="button" class="btn btn-primary" [disabled]="!canSubmitCategory()"
          (click)="addCategoryCallback('ok')">Criar</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="showItemModal" class="category-modal">
  <div class="d-flex w-100 h-100">
    <div class="d-flex flex-column m-auto bg-white border rounded py-2">
      <div class="d-flex flex-row w-100 px-5">
        <h3 class="my-auto">Criar item</h3>
        <a style="cursor: pointer;" class="ms-auto my-auto" (click)="addItemCallback('cancel')">
          <fa-icon class="text-danger" [icon]="xIcon"></fa-icon>
        </a>
      </div>
      <hr class="mt-2 mb-3" />
      <div class="d-flex flex-column w-100 px-5">
        <div class="form-floating mb-3">
          <input type="text" id="input-name" class="form-control mb-2" placeholder="Nome" [(ngModel)]="item.name">
          <label for="input-name">Nome</label>
        </div>
        <div class="form-floating mb-3">
          <textarea id="text-description" class="form-control mb-2" placeholder="Descrição" style="height: 90px;" [(ngModel)]="item.description">
          </textarea>
          <label for="text-description">Descrição</label>
        </div>
        <div class="form-floating">
          <input type="number" id="text-value" class="form-control mb-3" placeholder="Valor Estimado" [(ngModel)]="item.value">
          <label for="text-value">Valor Estimado</label>
        </div>
        <div class="d-flex flex-row mb-3">
          <div class="form-floating">
            <input type="number" id="text-qt" class="form-control me-3" placeholder="Quantidade" style="width: auto;" [(ngModel)]="item.weight">
            <label for="text-qt">Quantidade</label>
          </div>
          <div class="form-floating">
            <select id="un" name="un" class="form-control" placeholder="Unidade" style="width: 68px;" [(ngModel)]="item.unit">
              <option value="2">Un.</option>
              <option value="0">Kg</option>
              <option value="4">g</option>
              <option value="1">L</option>
              <option value="3">Dz.</option>
            </select>
            <label for="un">Unidade</label>
          </div>
        </div>
        <div class="form-floating">
          <select id="cat" name="cat" class="form-control" placeholder="Categoria" [(ngModel)]="item.category">
            <option *ngFor="let c of allCategories" [value]="c">{{ c.name }}</option>
          </select>
          <label for="cat">Categoria</label>
        </div>
      </div>
      <hr class="mb-2 mt-3" />
      <div class="d-flex flex-row w-100 px-5">
        <button type="button" class="btn btn-white border border-primary me-3 ms-auto"
          (click)="addItemCallback('cancel')">Cancelar</button>
        <button type="button" class="btn btn-primary" [disabled]="!canSubmitItem()"
          (click)="addItemCallback('ok')">Criar</button>
      </div>
    </div>
  </div>
</div>
