<form class="d-flex flex-column w-100" [formGroup]="formGroup">
  <input type="text" formControlName="id" hidden>
  <div class="form-floating mb-3">
    <input type="text" id="input-name" class="form-control mb-2" placeholder="Nome"
      formControlName="name" [ngClass]="getValidationClass('name')">
    <label for="input-name">Nome</label>
    <app-validation-message name="name" [formGroup]="formGroup"></app-validation-message>
  </div>
  <div class="form-floating mb-3">
    <textarea id="text-description" class="form-control mb-2" placeholder="Descrição"
      formControlName="description" [ngClass]="getValidationClass('description')" style="height: 180px;">
    </textarea>
    <label for="text-description">Descrição</label>
    <app-validation-message name="description" [formGroup]="formGroup"></app-validation-message>
  </div>
  <div class="d-flex w-100">
    <button type="submit" class="btn btn-primary ms-auto" style="width: 120px;"
    [disabled]="formGroup.invalid" (click)="onSubmitClick()">
      {{ submitText }}
    </button>
  </div>
</form>
