$white: var(--bs-white);

.content {
  height: 100vh;
  width: 100vw;

  position: absolute;
  top: 0px;
  left: 0px;
}

.inner-content {
  height: 460px;
  margin: 0px auto;
  background-color: var(--bs-white);
}

.brand {
  font-size: 1.25rem;
  text-decoration: none;
}

h2 {
  font-family: 'clear_sansregular';
  font-weight: bold;
  letter-spacing: 2px;
  font-size: x-large;
}

.form-floating input {
  background-color: #dddddd;
}

.form-floating label {
  filter: opacity(75%);
  font-size: smaller;
  line-height: 25px;
  text-transform: uppercase;
}

.form-check-label {
  line-height: 24px;
  margin-left: 10px;
}

.btn {
  width: 70px;
  height: 70px;
  border-radius: 25px !important;
}

.back-button {
  width: fit-content;
  >button {
    border-width: 0px;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    padding: 0;
  }
}
