<div class="d-flex flex-column content">
  <div class="d-flex flex-row w-100 p-5">
    <a class="d-flex brand" [routerLink]="['/']">
      <img src="/assets/images/logo.png" width="50" height="50" class="d-inline-block align-top" alt="">
      <span class="app-title ms-3 my-auto">Shopping Share</span>
    </a>
  </div>
  <div class="d-flex w-100 h-100">
    <div class="d-flex flex-column inner-content col-10 col-md-7 col-lg-6 col-xl-5">
      <div class="d-flex flex-column w-100 mb-5">
        <div class="back-button mt-2 ms-2 pt-1 ps-1">
          <button type="button" class="btn btn-primary btn-circle" (click)="onBack()">
            <fa-icon [icon]="backIcon" size="2x"></fa-icon>
          </button>
        </div>
        <div class="d-flex w-100 mt-1">
          <h2 class="m-auto">Registrar</h2>
        </div>
      </div>
      <form class="d-flex flex-column w-100 flex-grow-1 px-5" [formGroup]="formGroup">
        <div class="row">
          <div class="col-5">
            <div class="form-floating mb-3">
              <input type="text" id="input-firstname" class="form-control mb-2" placeholder="Nome"
                formControlName="FirstName" [ngClass]="getValidationClass('FirstName')">
              <label for="input-firstname">Nome</label>
              <app-validation-message name="FirstName" [formGroup]="formGroup"></app-validation-message>
            </div>
          </div>
          <div class="col-7">
            <div class="form-floating mb-3">
              <input type="text" id="input-lastname" class="form-control mb-2" placeholder="Sobrenome"
                formControlName="LastName" [ngClass]="getValidationClass('LastName')">
              <label for="input-lastname">Sobrenome</label>
              <app-validation-message name="LastName" [formGroup]="formGroup"></app-validation-message>
            </div>
          </div>
        </div>
        <div class="d-flex flex-column form-floating mb-3">
          <input type="email" id="input-email" class="form-control" placeholder="Email"
            formControlName="Email" [ngClass]="getValidationClass('Email')">
          <label for="input-email">E-mail</label>
          <app-validation-message class="mt-2" name="Email" [formGroup]="formGroup"></app-validation-message>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="form-floating mb-3">
              <input type="password" id="input-password" class="form-control mb-2" placeholder="Senha"
                formControlName="Password" [ngClass]="getValidationClass('Password')">
              <label for="input-password">Senha</label>
              <app-validation-message name="Password" [formGroup]="formGroup"></app-validation-message>
            </div>
          </div>
          <div class="col-6">
            <div class="form-floating mb-3">
              <input type="password" id="input-repeat-password" class="form-control mb-2" placeholder="Repetir Senha"
                formControlName="RepeatPassword" [ngClass]="getValidationClass('RepeatPassword')">
              <label for="input-repeat-password">Repetir a Senha</label>
              <app-validation-message name="RepeatPassword" [formGroup]="formGroup"></app-validation-message>
              <br />
              <span *ngIf="formGroup.hasError('notequal')" class="text-danger">{{ passwordNotEqualText }}</span>
            </div>
          </div>
        </div>
        <div class="d-flex flex-grow-1 w-100">
          <button type="submit" class="btn btn-primary ms-auto mt-auto mb-5" (click)="onFormSubmit()" [disabled]="formGroup.invalid">
            Registrar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
